In [1]:
#import library
import requests
from bs4 import BeautifulSoup

In [2]:
#set the variabel for imdb webaddress
url = "https://www.imdb.com/list/ls055592025/"
req = requests.get(url)

In [3]:
# check if response from website
print(req)

<Response [200]>

In [7]:
#set soup variable for parsing data
soup = BeautifulSoup(req.text,"html.parser")

In [8]:
# itering the contains from website
moviename = []
movieyear = []
for item in soup.find_all("h3",class_="lister-item-header"):
    item = item.text
    item = item.split("\n")
    name = item[2]
    year = ''.join(number for number in item[3] if number.isnumeric())
    moviename.append(name)
    movieyear.append(year)

In [9]:
#check the moviename and movieyear list
print(moviename)
print(movieyear)

['The Godfather', 'The Shawshank Redemption', "Schindler's List", 'Raging Bull', 'Casablanca', 'Citizen Kane', 'Gone with the Wind', 'The Wizard of Oz', "One Flew Over the Cuckoo's Nest", 'Lawrence of Arabia', 'Vertigo', 'Psycho', 'The Godfather: Part II', 'On the Waterfront', 'Sunset Blvd.', 'Forrest Gump', 'The Sound of Music', '12 Angry Men', 'West Side Story', 'Star Wars', '2001: A Space Odyssey', 'E.T. the Extra-Terrestrial', 'The Silence of the Lambs', 'Chinatown', 'The Bridge on the River Kwai', "Singin' in the Rain", "It's a Wonderful Life", 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Some Like It Hot', 'Ben-Hur', 'Apocalypse Now', 'Amadeus', 'The Lord of the Rings: The Return of the King', 'Gladiator', 'Titanic', 'From Here to Eternity', 'Saving Private Ryan', 'Unforgiven', 'Raiders of the Lost Ark', 'Rocky', 'A Streetcar Named Desire', 'The Philadelphia Story', 'To Kill a Mockingbird', 'An American in Paris', 'The Best Years of Our Lives', 'My Fair Lady', 'A Clockwork Orange', 'Doctor Zhivago', 'The Searchers', 'Jaws', 'Patton', 'Butch Cassidy and the Sundance Kid', 'The Treasure of the Sierra Madre', 'The Good, the Bad and the Ugly', 'The Apartment', 'Platoon', 'High Noon', 'Braveheart', 'Dances with Wolves', 'Jurassic Park', 'The Exorcist', 'The Pianist', 'Goodfellas', 'The Deer Hunter', 'All Quiet on the Western Front', 'Bonnie and Clyde', 'The French Connection', 'City Lights', 'It Happened One Night', 'A Place in the Sun', 'Midnight Cowboy', 'Mr. Smith Goes to Washington', 'Rain Man', 'Annie Hall', 'Fargo', 'Giant', 'Shane', 'The Grapes of Wrath', 'The Green Mile', 'Close Encounters of the Third Kind', 'Nashville', 'Network', 'The Graduate', 'American Graffiti', 'Pulp Fiction', 'Terms of Endearment', 'Good Will Hunting', 'The African Queen', 'Stagecoach', 'Mutiny on the Bounty', 'The Great Dictator', 'Double Indemnity', 'The Maltese Falcon', 'Wuthering Heights', 'Taxi Driver', 'Rear Window', 'The Third Man', 'Rebel Without a Cause', 'North by Northwest', 'Yankee Doodle Dandy']
['1972', '1994', '1993', '1980', '1942', '1941', '1939', '1939', '1975', '1962', '1958', '1960', '1974', '1954', '1950', '1994', '1965', '1957', '1961', '1977', '1968', '1982', '1991', '1974', '1957', '1952', '1946', '1964', '1959', '1959', '1979', '1984', '2003', '2000', '1997', '1953', '1998', '1992', '1981', '1976', '1951', '1940', '1962', '1951', '1946', '1964', '1971', '1965', '1956', '1975', '1970', '1969', '1948', '1966', '1960', '1986', '1952', '1995', '1990', '1993', '1973', '2002', '1990', '1978', '1930', '1967', '1971', '1931', '1934', '1951', '1969', '1939', '1988', '1977', '1996', '1956', '1953', '1940', '1999', '1977', '1975', '1976', '1967', '1973', '1994', '1983', '1997', '1951', '1939', '1935', '1940', '1944', '1941', '1939', '1976', '1954', '1949', '1955', '1959', '1942']

In [11]:
#now get the rating of the movies
rating=[]
for r in soup.find_all("div",class_="ipl-rating-star small"):
    r = r.text
    r = float(r.strip())
    rating.append(r)

In [12]:
#print the fating list
print(rating)

[9.2, 9.3, 9.0, 8.2, 8.5, 8.3, 8.2, 8.1, 8.7, 8.3, 8.3, 8.5, 9.0, 8.1, 8.4, 8.8, 8.1, 9.0, 7.6, 8.6, 8.3, 7.9, 8.6, 8.2, 8.2, 8.3, 8.6, 8.4, 8.2, 8.1, 8.5, 8.4, 9.0, 8.5, 7.9, 7.6, 8.6, 8.2, 8.4, 8.1, 7.9, 7.9, 8.3, 7.2, 8.1, 7.8, 8.3, 7.9, 7.9, 8.1, 7.9, 8.0, 8.2, 8.8, 8.3, 8.1, 8.0, 8.4, 8.0, 8.2, 8.1, 8.5, 8.7, 8.1, 8.1, 7.7, 7.7, 8.5, 8.1, 7.7, 7.8, 8.1, 8.0, 8.0, 8.1, 7.6, 7.6, 8.1, 8.6, 7.6, 7.7, 8.1, 8.0, 7.4, 8.9, 7.4, 8.3, 7.7, 7.8, 7.7, 8.4, 8.3, 8.0, 7.5, 8.2, 8.5, 8.1, 7.6, 8.3, 7.6]

In [14]:
#create a DataFrame by combining the name, year and rating
import pandas as pd # importing pandas library to create a Dataframe
top100moviesdf = pd.DataFrame({"Movie Name":moviename,"Release Year":movieyear,"IMBD Rating":rating})

In [15]:
top100moviesdf

                  Movie Name Release Year  IMBD Rating
0              The Godfather         1972          9.2
1   The Shawshank Redemption         1994          9.3
2           Schindler's List         1993          9.0
3                Raging Bull         1980          8.2
4                 Casablanca         1942          8.5
..                       ...          ...          ...
95               Rear Window         1954          8.5
96             The Third Man         1949          8.1
97     Rebel Without a Cause         1955          7.6
98        North by Northwest         1959          8.3
99       Yankee Doodle Dandy         1942          7.6

[100 rows x 3 columns]